@import '../../styles/variables';

.menu {
  padding: .75rem 0;
  margin: 0;
  // text-align: center;
  box-shadow: 0px 6px 20px -12px #3f3f3f;
  position: absolute;
  width: 100%;
  background-color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: row;
  }

  h4 {
    margin: 0;
    color: $rr-brand-color;
    letter-spacing: -1px;
  }

  .login, .brand, .search {
    width: calc(100% / 3);
  }

  .brand {
    text-align: center;
  }

  .login {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      font-weight: 500;
      transition: .3s;
      display: inline-flex;
      align-items: center;
      color: $rr-black-text;
      &:first-of-type {
        margin-right: 1.5rem;
      }

      &:hover {
        color: black;
      }
    }

    svg {
      margin-right: .35rem;
    }
  }

  form {
    position: relative;
    text-align: end;

    input {
      height: 2rem;
      border: none;
      padding-left: 2rem;
      border-bottom: 1px solid #0c0c0c1f;
      padding-top: 3px;
      font-size: .9rem;
      transition: 0.3s;

      &:hover {
        border-bottom: 1px solid #0c0c0c70;
      }

      &:focus {
        outline: none;
      }
    }

    .searchIcon {
      position: absolute;
      top: 16%;
      left: 55%;

      svg:hover {
        fill: black !important;
      }
    }
  }
}